$border-box-shadow: rgba(0, 0, 0, .5);
$border-color: #999;
$border-color-light: lighten($border-color,20%);
$border-disabled-color: #bbb;
$border-font-color: #333;
$border-height: 32px;
$border-hover-color: #666;
$border-padding: 9px 8px;
$border-radius: 4px;
$button-active-bg: #eee;
$button-bg: #fff;
$button-border-color: #999;
$button-color: #999;
$button-height: 32px;
$button-hover-color: #666;
$button-radius: 4px;
$error-color: #F1453D;
$error-font-size: 12px;
$font-size: 14px;
$input-height: 32px;
$grey:#eee;
.box-shadow {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}